<% provide(:title, 'Feedback') %>
<h1>Feedback</h1>
<p>

  <h2>Give Us Feedback</h2>



<h4>We value your feedback, review and features suggestions. While we don't respond to suggestions directly, we do review them. Many features came directly from your feedback. Keep in mind that all submitted suggestions are governed by our team of expert. If you're experiencing a problem with your account, please let us know at                                                                                               denialsmith786@gmail.com (send us an email in regards to your problem)</h4>

<h4>If you'd like to give general review or feedback about Firm, send your feedback to the email address below.</h4>


<h4>ahmedreza80@gmail.com</h4>

</p>