<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Hi...Firm is very much new and the work is still going on to make your experience more better
  we are working on a Help model...
  For more informarion and help feel free to contact me... ahmedreza80@gmail.com
</p>